* {
  color: white;
}

.clickbutton {
  background-color: aquamarine;
  color: brown;
}
body {
  background-color: rgb(204, 0, 255);
}
#classes {
  background-color: blue;
  text-align: center;
}
.class {
  color: red;
  text-align: center;
}
